{% extends 'base.html.twig' %}
{% block title %}Foo-page{%endblock%}
{% block body %}
<main class="container main">
    {{ dump() }}
    <h1>Some text</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante ac felis mattis maximus nec vitae neque. Nunc id scelerisque velit, nec hendrerit justo. Nullam iaculis gravida semper. Pellentesque non turpis et risus scelerisque sodales nec at velit. Aliquam libero lacus, malesuada ac placerat nec, venenatis ut sapien.
    Nulla facilisi.
    Vestibulum mollis pellentesque suscipit. Ut ipsum felis, rutrum ut fermentum eget, congue rhoncus nulla.</p>
</main>
{% endblock %}
