{% extends 'base.html.twig' %}
{% block title %}blog-page{%endblock%}
{% block body %}
    <main class="container main">
        <div>
            Welkome from {{ blogPage }}
        </div>
    </main>
{% endblock %}